footer {
  margin-top: 20px;

}
footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
  font-size: 12px;
}

footer .BoxSocial {
  display: flex;
}

footer .BoxSocial a {
  color: #2185D5;
  margin-left: 10px;
}
footer p {
  color: #3A4750;
}