:root {
  --morada: #370665;
  --azul: #35589A;
  --red: #F14A16;
  --orange: #FC9918;
  --gray1: #EEEEEE;
  --gray2: #e0e0e0;
  --gray3: #8b8b8b;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--gris2);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

/* p {
  font-size: 0.9em;
} */

p,
li,
a {
  color: #333;
  font-weight: 300;
}
#wrapper {
  width: 60vw;
  margin: 0 auto;
}