footer {
  margin-top: 40px;
  padding: 40px 0;
}
footer div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
}

footer .BoxSocial {
  display: flex;
}

footer .BoxSocial a {
  color: #2185D5;
  margin-left: 10px;
}
footer p {
  color: #3A4750;
}