:root {
  --azul: #2185d5;
  --gris1: #303841;
  --gris2: #3a4750;
  --gris3: #f3f3f3;
  --gris4: #97a3ad;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h6,
h5 {
  letter-spacing: -0.5px;
}

p {
  font-size: 0.9em;
}

p,
li,
a {
  color: var(--gris1);
  font-weight: 300;
}

/* * |======= GENERAL =======/ */
#wrapper {
  width: 800px;
  margin: 0 auto;
}

.LinePoint {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: var(--gris3);
}

.LinePoint .PointBox {
  display: block;
  position: absolute;
  top: -260%;
  right: 50%;
  left: 50%;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: var(--gris3);
}

.LineSeparate {
  display: flex;
  position: relative;
  right: 50%;
  left: 50%;
  width: 40px;
  height: 2px;
  margin: 40px 0;
  background-color: var(--gris4);
}

.BtnPrimary {
  padding: 10px 40px;
  color: #fff;
  text-align: ;
  background-color: var(--gris2);
  border-radius: 2px;
}

.BtnPrimary:hover {
  background-color: var(--azul);
}

.marginBottom {
  margin-bottom: 40px;
}

.container {
  display: flex;
  gap: 20px;
}

.images {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin: 10px 0;
}

.ImageBorder {
  margin: 10px 0;
  box-shadow: 0 15px 18px -15px rgba(32, 32, 37, 0.25);
}

/* * |======= TIPOGRAFIA =======/ */
.SecTitle {
  margin: 20px 0 40px;
  text-align: center;
}
.SecTitle h2 {
  font-size: 1.8em;
}
.SecTitle p {
  color: var(--gris4);
  font-weight: 400;
  font-style: italic;
}
.SecTitle h2, .TercTitle h3 {
  font-weight: 600;
}
.TercTitle h3 {
  display: inline-block;
  font-size: 1.5em;
  background-color: #fff;
  padding-right: 20px;
}
.TercTitle {
  position: relative;
}
.TercTitle .LineTitle {
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  width:100%;
  height: 2px;
  background-color: var(--gris3);
}
/* * |======= LOGO =======/ */
.Logo {
  font-family: 'Noto Serif Display', serif;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: -2px;
}

/* * |======= HEADER =======/ */
nav {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 18px -1px rgba(32, 32, 37, 0.15);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 0.8rem;
}

nav ul li a:hover {
  color: var;
}

/* * |======= HEADER =======/ */
header {
  padding: 40px 0;
  text-align: center;
}

/* * |======= BOX CONTENT =======/ */
#BoxContent .title {
  text-align: center;
  margin-bottom: 20px;
}

#BoxContent .title h2 {
  font-weight: 600;
}

/* * |======= BOX ARTICLES =======/ */
.BoxArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BoxArticles article .img {
  overflow: hidden;
  width: 360px;
  margin-bottom: 10px;
}

.BoxArticles article .img img {
  max-width: 100%;
  box-shadow: 0 15px 18px -15px rgba(32, 32, 37, 0.25);
}

.BoxArticles article h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.BoxArticles article h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.BoxArticles article h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.BoxArticles article .BtnPrimary {
  display: table;
  margin: 0 auto;
}

/* * |======= TITLE HEADING =======/ */
#Title_Headign {
  text-align: center;
  margin-bottom: 40px;
}

#Title_Headign .SinglePost_Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
}

#Title_Headign .SinglePost_Heading p {
  color: var(--gris4);
  font-size: 0.8rem;
}

#Title_Headign h1 {
  margin: 10px 0;
}

#MainImage {
  position: relative;
  overflow: hidden;
  height: 600px;
  margin-bottom: 20px;
}

#MainImage img {
  max-width: 100%;
}