/* azul #2185D5 */
/* gris 1 #303841 */
/* gris 2 #3A4750 */
/* gris 3 #F3F3F3 */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

p,
li,
a, {
  color: #3A4750;
  font-weight: 300;
}

.logo {
  font-family: 'Noto Serif Display', serif;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: -2px;
}