/* azul #2185D5 */
/* gris 1 #303841 */
/* gris 2 #3A4750 */
/* gris 3 #F3F3F3 */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h6,
h5 {
  letter-spacing: -0.5px;
}
p {
  font-size: 0.9em;
}
p,
li,
a {
  color: #475763;
  font-weight: 300;
}

/* * |======= GENERAL =======/ */
#wrapper {
  width: 800px;
  margin: 0 auto;
}

.LinePoint {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: #f3f3f3;
}

.LinePoint .PointBox {
  position: absolute;
  top: -260%;
  right: 50%;
  left: 50%;
  display: block;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #f3f3f3;
}

.BtnPrimary {
  padding: 10px 40px;
  color: #fff;
  text-align: ;
  background-color: #303841;
  border-radius: 2px;
}

.BtnPrimary:hover {
  background-color: #2185D5;
}

/* * |======= LOGO =======/ */
.Logo {
  font-family: 'Noto Serif Display', serif;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: -2px;
}

/* * |======= HEADER =======/ */
nav {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 18px -1px rgba(32, 32, 37, 0.15);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 0.8rem;
}

nav ul li a:hover {
  color: #2185d5;
}

/* * |======= HEADER =======/ */
header {
  padding: 40px 0;
  text-align: center;
}

/* * |======= BOX CONTENT =======/ */
#BoxContent .title {
  text-align: center;
  margin-bottom: 20px;
}

#BoxContent .title h2 {
  font-weight: 600;
  /* text-transform: uppercase; */
}

/* * |======= BOX ARTICLES =======/ */
.BoxArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BoxArticles article .img {
  overflow: hidden;
  width: 360px;
  margin-bottom: 10px;
}

.BoxArticles article .img img {
  max-width: 100%;
  box-shadow: 0 15px 18px -15px rgba(32, 32, 37, 0.25);
}

.BoxArticles article h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.BoxArticles article h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.BoxArticles article h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.BoxArticles article .BtnPrimary {
  display: table;
  margin: 0 auto;
}