@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$blue: #38aaf7;
$navy: #33425b;
$navy2: #3e4a61;
$yellow: #fab95b;
$green: #42b883;
$red: #f35b25;
$orange: #f16821;
$gray1: #ecf0f1;
$gray2: #969aa7;
$gray3: #e2dfdf;
$general: #393e46;

body {
  font-family: 'Poppins', serif;
  background-color: $gray1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $navy;
  text-shadow: 1px 1px 0px rgba($color: #fff, $alpha: 0.3);
}
p,
li {
  font-weight: 200 !important;
}

.logo {
  img {
    max-height: 40px;
  }
}

header {
  padding: 40px 0;
}
.title {
  margin-bottom: 40px;
  h1 {
    font-weight: 500;
    letter-spacing: -1px;
  }
  h6 {
    color: $gray2;
    font-weight: 200 !important;
  }
}

.box_body {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.card_statistic {
  position: relative;
  .card_number {
    border-top: 1px solid #f2f1f1;
    ul {
      li {
        display: inline-block;
        color: $gray2;
        font-size: 0.85rem;
        text-align: right;
        margin-right: 160px;
        span {
          position: relative;
          left: -8px;
        }
        &:last-child {
          margin-right: 0;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          bottom: 100px;
          width: 1px;
          height: 38%;
          background-color: #f2f1f1;
        }
      }
    }
  }
  .card_sexo {
    text-align: right;
    margin-top: 20px;
    p {
      color: $gray2;
      margin-bottom: 20px;
    }
  }
  .card_chart {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    .design_chart {
      height:20px;
      border-radius: 20px;
    }
    .body_chart {
      width: 100%;
      background-color: $gray1;
      @extend .design_chart;
    }
    [class*='card_chart_porcent_']{
      position: absolute;
    }
    .card_chart_porcent_woman {
      width: 0;
      background-color: $green;
      @extend .design_chart;
    }
    .card_chart_porcent_man {
      width: 0;
      background-color: $blue;
      @extend .design_chart;
    }
  }
  .card_porcents {
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 20px;
    [class*='card_porcent_'] {
      height: 100%;
      padding: 5px 10px;
      border-radius: 6px;
      p {
        font-size: 0.8rem;
        font-weight: 500 !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        span {
          margin-left: 5px;
        }
      }
    }
    .card_porcent_woman {
      background-color: #9fffd4;      
      p {
        color: $green;
      }
    }
    .card_porcent_man {
      background-color: #a7dcff;      
      p {
        color: $blue;
      }
    }
  }
}
.box {
  height: 60vh;
}
.card_inform {
  [class*="card_inform_"] {
    display: flex;
    gap: 30px;
    img {
      max-height: 45px;
      height: 100%;
      // margin: 16px;
    }
  }
  .card_inform_woman {
    background-color: #9fffd4;
  }
  .card_inform_man {
    background-color: #a7dcff;
  }
  .card_inform_total {
    background-color: #ffe1b7;
  }
  .body_porcent {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  article {
    p, h3 {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    p {
      color: #5f5f5f;
      font-size: 0.8rem;
      font-weight: 400 !important;
    }
  }
}
footer {
  text-align: center;
  margin-top: 60px;
  img {
    opacity: 0.3;
    max-height: 15px;
  }
  a {
    color: #a8a8a8;
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: none;
  }
}