@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --blue1: #335795;
  --blue2: #3D62B3;
  --blue3: #6D8BC9;
  --blue4: #899ECB;
  --blue4: #899ECB;
  --red: #e74c3c;
  --green: #2ecc71;
  --gray1: #ecf0f1;
  --gray2: #c7c7c7;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gray1);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  color: var(--negro);
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

p,
li,
a,
td {
  color: #333;
  font-weight: 300;
}

#wrapper {
  width: 50vw;
  margin: 0 auto;
}


/* * ========= HEADER ========= */
.logo {
  text-align: center;
}