@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --blue1: #335795;
  --blue2: #3D62B3;
  --blue3: #6D8BC9;
  --blue4: #899ECB;
  --blue4: #899ECB;
  --red: #e74c3c;
  --green: #2ecc71;
  --gray1: #ecf0f1;
  --gray2: #c7c7c7;
  --gray3: #a5a5a5;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gray1);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

p,
li,
a,
td {
  color: #868686;
  font-weight: 300;
}

#wrapper {
  width: 35vw;
  margin: 0 auto;
}
.line_separate {
  display: block;
  height: 1px;
  margin: 20px 0;
  background-color: var(--gray1);
}

.container {
  width: 100%;
}
/* * ========= HEADER ========= */
.logo {
  text-align: center;
}
/* * ========= FORMULARIO ========= */
.form {
  padding: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.2);
  background-color: #fff;
  border-radius: 4px;
}
.form_regist .form_regist_item { 
  margin-bottom: 20px;
}

.form_regist .form_regist_item [class*="col"] {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.form_regist .form_regist_item  .col1 input {
  width: 100%;
}
.form_regist .form_regist_item  .col2 input {
  width: 50%;
}
.form_regist .form_regist_item  .col3 input {
  width: 35%;
}
.form_regist .form_regist_item input,
.form_regist .form_regist_item select,
.form_regist_items_radio {
  padding: 16px;
  border: 1px solid var(--gray1);
  border-radius: 4px;
}

.form_regist .form_regist_item label {
  color: var(--gray3);
  font-size: 0.8em;
}
.form_regist .form_regist_item input:valid {
  border: 1px solid var(--gray1);
}
/* .form_regist .form_regist_item input:invalid {
  border: 1px solid var(--red);
} */
.form_regist .form_regist_item p {
  font-size: 0.75em;
}
.form_regist .form_regist_item select {
  width: 100%;
  border: 1px solid var(--gray1);
  background-color: transparent;
}
.form_regist_item .btn {
  padding: 16px 24px;
  font-size: 1rem;
  border-radius: 4px;
}
.form_regist_item > .btn  {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.form_regist_item .btn_success {
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: var(--green);
}
.form_regist_item .form_regist_items_radio {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 35%;
}
