@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --dwelling: #370665;
  --blue1: #35589A;
  --blue2: #110a24;
  --red: #F14A16;
  --orange: #FC9918;
  --gray1: #EEEEEE;
  --gray2: #e0e0e0;
  --gray3: #8b8b8b;
}

body {
  background-image: url(./../images/bgSpace.jpg);
  top: 0;
  left: 0;
  font-family: 'Oswald', sans-serif;
  background-size: cover;
  background-color: #fff;
}
.bgcCover {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue2);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

p,
li,
a,
td {
  color: #fff;
  font-weight: 300;
}

#wrapper {
  display: block;
  width: 80vw;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
}
.row .col2 {
 width: 45%;
}

/* * ========= NAVEGATION ========= */
header {
  padding: 20px;
  background-color: var(--blue2);
}
header .row {
  justify-content: space-around;
}
header .logo h1{
  font-weight: 300;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: right;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  padding: 6px 12px;
  border: 1px solid transparent;
  transition: all 0.25s ease;

}
header nav ul li a:hover {
  width: 37px;
  padding: 6px 12px;
  border: 1px solid #fff;
}