:root {
  --naranja: #F37A4D;
  --cafe1: #532A3A;
  --cafe2: #9D552D;
  --amarillo: #F0D898;
  --azul: #86c3ff;
  --gris1: #EEEEEE;
  --gris2: #e0e0e0;
  --gris3: #8b8b8b;
  --negro: #333;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--gris2);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  letter-spacing: -0.5px;
  margin-bottom: 0;
}
p,
li,
a {
  color: #333;
  font-weight: 300;
}
#wrapper {
  width: 60vw;
  margin: 0 auto;
}