:root {
  --naranja: #F37A4D;
  --cafe1: #532A3A;
  --cafe2: #9D552D;
  --amarillo: #fcca41;
  --azul: #86c3ff;
  --gris1: #EEEEEE;
  --gris2: #e0e0e0;
  --gris3: #8b8b8b;
  --negro: #333;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--naranja);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  color: #EEEEEE;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

p,
li,
a {
  color: #EEEEEE;
  font-weight: 300;
}

#wrapper {
  width: 60vw;
  margin: 0 auto;
}

.container .col2 {
  display: inline-block;
  width: 45%;
  float: left;
}

.MainPart .container .col2:first-child {
  text-align: center;
  margin-right: 10%;
}


.BtnPrimary {
  padding: 6px 20px;
  background-color: var(--cafe1);
  border-radius: 4px;
}

.BtnPrimary:hover {
  background-color: var(--cafe2);
}

/* * ========= HEADER ========= */
header {
  padding: 20px 0;
  margin-bottom: 80px;
}

header .logo h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: uppercase;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  position: relative;
  margin: 20px;
  font-weight: 500;
}

header nav ul li a:hover {
  color: var(--amarillo);
}

header nav ul li a.active::before {
  content: '';
  display: inline;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

header nav ul li a:hover.active::before {
  background-color: var(--amarillo);
  ;
}

header .container .col2 {
  height: 49px;
}

header .container .col2:last-child {
  float: right;
}

header .container .col2:last-child nav {
  position: relative;
  top: 25%;
  text-align: right;
}

/* * ========= MAIN ========= */
.MainPart, .ContentPart{
  height: 65vh;
  margin: auto;
}

.MainPart .container {
  position: relative;
  top: 25%;
  height: 100%;
}

.ContentPart .container {
  position: relative;
  top: 22%;
  height: 100%;
}

.MainPart .container .col2:last-child {
  text-align: center;
}

.MainPart .container .col2:last-child img {
  max-width: 100%;
  width: 250px;
}

.MainPart .content h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.MainPart .content p {
  margin-bottom: 30px;
}