:root {
  --morada: #533E85;
  --azul: #488FB1;
  --verde1: #4FD3C4;
  --verde2: #C1F8CF;
  --gris1: #EEEEEE;
  --gris2: #e0e0e0;
  --gris3: #8b8b8b;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--gris2);
}

h1,
h2,
h3,
h4,
h6,
h5 {
  letter-spacing: -0.5px;
  margin-bottom: 0;
}
p,
li,
a {
  color: #333;
  font-weight: 300;
}
#wrapper {
  width: 60vw;
  margin: 0 auto;
} 