/* verde #65D269 */
/* Amarillo #F7F373 */
/* azul #2F64A3 */

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h6,
h5 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

p,
li,
a,
td {
  color: rgb(95, 95, 95);
  font-weight: 300;
}

#wrapper {
  margin: 0 auto;
  width: 75vw;
}
#BoxContent {
  margin: 40px 0;
}
.container {
  display: flex;
}

.container .col2 {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  height: 360px;
  width: 100%;
}
header img {
  position: absolute;
  width: 100%;
  top: -80%;
  left: 0;
  z-index: -2;
}
header h1, header p {
  color: #fff;
  z-index: 1;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
header h1::after {
  content: '';
  display: block;
  height: 1px;
  width: 45%;
  background-color: rgb(212, 212, 212);
  text-align: center;
  margin: 0 auto;
}

header p {
  font-style: italic;
}
header .BackgroundBlack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 360px;
  width: 100%;
}
#BoxContent .container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 160px;
}

#BoxContent .container .BoxInfo {
  width: 65%;
}
#BoxContent .container .AsideInfo {
  width: 35%;
}
#BoxContent h2, #BoxContent p {
  margin-bottom: 20px;
}
#BoxContent .BoxInfo h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
}
#BoxContent h2 > span {
  color: #65D269;
}
#BoxContent .BoxInfo .images  {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
#BoxContent .BoxInfo .images img {
  width: 100%;
  max-width: 100%;
}

#BoxContent .AsideInfo img {
  border: 1px solid rgb(206, 206, 206);
  padding: 10px;
  max-width: 75%;
  margin: 0 auto 20px;

}
#BoxContent .AsideInfo table {
   border-collapse: collapse; 
}
#BoxContent .AsideInfo table .tg-v0mg {
   color: #2F64A3;
   font-weight: 600;
}
#BoxContent .AsideInfo table tbody tr {
  height: 35px;
  border-bottom: 1px solid rgb(199, 199, 199);
}
#BoxContent .AsideInfo table tbody td {
  padding: 10px 0;
}
.title h2 {
  position: relative;
}
.title h2::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 85%;
  height: 4px;
  background-color: #F7F373;
}
footer {
  margin-top: 40px;
  padding: 40px 0;
  background-color: rgb(48, 48, 48);
}
footer div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
}

footer .BoxSocial {
  display: flex;
}

footer .BoxSocial a {
  color: #70bfff;
  margin-left: 10px;
}
footer p {
  color: #fff;
}