/* verde #65D269 */
/* Amarillo #F7F373 */
/* azul #2F64A3 */

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h6,
h5 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

p,
li,
a {
  font-weight: 300;
  color: #312F44;
}